[Unit]
Description=Telegram Bot Service
After=network.target

[Service]
User=your_user # your user 
WorkingDirectory=/path/to/your/script # where your telegram_bot.py script is located
ExecStart=/path/to/your/venv/bin/python3 /path/to/your/script/telegram_bot.py # command that runs in short 'python3 telegram_bot.py'
Restart=always
EnvironmentFile=/path/to/your/script/.env # create .env where your telegram_bot.py script is located

[Install]
WantedBy=multi-user.target
